#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



table{
    width: 100%;
    background: rgb(48, 48, 48);
    border-radius: 5px;
    margin: 3%;

    & th{
        color: white;
        padding: 1rem;
        text-align: left;
    }
    & td{
        color: white;
        padding: 1rem;
        text-align: left;
    }
    & tr:nth-child(even){
        background: rgb(64, 64, 64);
    }

    & tr:hover{
        background: rgb(80, 80, 80);
    }

    .filters {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

}